.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__label {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 16px;
}

.form-field__button {
  width: 58px;
  height: 48px;
  border: none;
  background-color: hsl(0, 0%, 90%);
}
