.info-block {
  //
}

.info-block__wrapper {
  max-width: 458px;
  min-width: 284px;

  &--slogan {
    margin: 52px auto 51px;
  }

  &--interesting {
    margin: 60px auto 44px;
  }

  &--catalog {
    padding: 66px 0;
    margin: 0 auto;
  }

  &--review {
    padding: 64px 0 108px;
    margin: 0 auto;
  }
}

.info-block__header.info-block__header {
  margin: 0 0 35px;

  &--big {
    font-size: 30px;
  }
}

.info-block__cover {
  margin: 0;
}

.info-block__button-search {
  display: block;
  color: @font-color-secondary;
  background-color: @background-block-color;
  border: none;
  width: 458px;
  padding: 16px 0;
  margin: 0 auto;
  margin-bottom: 55px;
}
