.main-banner {
  background-image: url("../../img/back-desktop.jpg");
  //height: 518px;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 77px 0 97px;
}

.main-banner__inner-page {
  padding: 95px 0 120px;
}

.main-banner__title {
  display: block;
  margin: 0 auto;

  &--welcome {
    margin-bottom: 10px;
  }

  &--gorgeous {
    margin-bottom: 51px;
  }

  &--sedona {
    margin-bottom: 57px;
  }
}
