.main-footer {
  //
}

.main-footer__wrapper {
  padding: 36px 60px;
  display: flex;
  justify-content: space-between;
}

.main-footer__logo {
  margin-top: 17px;
}

.main-footer__copyright {
  width: 140px;
  height: 48px;
  display: flex;
}

.main-footer__copyright-text.main-footer__copyright-text {
  display: block;
  margin: auto 0;
  margin-right: 10px;
  text-align: start;
  width: 89px;
}

.main-footer__copyright-logo {
  width: 37px;
  height: 44px;

  & path {
    fill: #000000;
  }
}
