.main-banner {
  background-image: url("../img/back-mobile.jpg");
  //height: 518px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  padding: 90px 0 85px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }
}

.main-banner__inner-page {
  //padding: 95px 0 120px;
  height: 158px;
  padding: 0;
  background-position: 100% 100%;
}

.main-banner__title {
  display: block;
  margin: 0 auto;

  &--secondary {
    margin: 0 auto;

    position: relative;
    top: 52px;
  }

  /*&--welcome {
    margin-bottom: 10px;
  }

  &--gorgeous {
    margin-bottom: 51px;
  }

  &--sedona {
    background-image: url("../../img/sedona_mobile.svg");
    background-repeat: no-repeat;
    height: 48px;
    width: 283px;
    margin-bottom: 57px;
  }*/
}

@media (min-width: @tablet-width) {
  .main-banner {
    padding: 77px 0 91px;
    background-image: url("../img/back-desktop.jpg");
    background-position: 100% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .main-banner__inner-page {
    height: 290px;
    padding: 0;
  }

  .main-banner__title {
    &--secondary {
      top: 95px;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-banner {
    padding-top: 78px;
    background-image: url("../img/back-desktop.jpg");
  }

  .main-banner__inner-page {
    height: 301px;
    padding: 0;
  }

  .main-banner__title {
    &--secondary {
      top: 104px;
    }
  }
}
