.main-navigation {
  position: relative;
}

.main-navigation__list {
  width: 100%;
  //margin: 0 auto;
}

.main-navigation__toggle-open {
  background-image: url("../img/icon-menu.svg");
  width: 23px;
  height: 23px;
  border: none;
  position: absolute;
  top: 17px;
  right: 20px;
}

.main-navigation__toggle-close {
  background-image: url("../img/icon-cross.svg");
  width: 22px;
  height: 22px;
  border: none;
  padding: 0;
  background-color: rgb(129, 179, 210);
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 3;
}

@media (min-width: @tablet-width) {
  //display: flex;
  //justify-content: space-around;
  .main-navigation__list {
    width: 690px;
    margin: 0 auto;
  }

  .main-navigation__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation__list {
    width: 1038px;
    margin: 0 auto;
  }
}
