.photo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /*display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 44px;*/
}

.photo-list__wrapper {
  &--desktop {
    width: 100%;
  }
}

