.videopresentation {
  padding: 0 20px;
}

.videopresentation__preview {
  display: block;
  margin: 0 auto;
  background-image: url("../img/video-mobile.jpg");
  height: 177px;
  width: 280px;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .videopresentation__preview {
    background-image: url("../img/video-tablet.jpg");
    height: 500px;
    width: 648px;
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .videopresentation__preview {
    background-image: url("../img/video-desktop.jpg");
    height: 500px;
    width: 800px;
    background-repeat: no-repeat;
  }
}
